

.app {
  width: 40%;
  margin: 2em auto;
  background-color: #394049;
  border-radius: 5px;
  color: white;
}

.todo-header {
  padding: 0, 5em;
  border-bottom: 1px solid #394049;
  text-align: center;
}

.todo-header h1 {
  margin: 0;
}
